header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005ca8;
    color: white;
    padding: 10px 20px;
}


.menu {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Indicates it's interactive */
    width: 500px;
    text-align: center;
}

.menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 50%; /* Ensure it starts from the top of the parent */
    width: 100%; /* Align with the left edge */
    background-color: #f9f9f9;
    white-space: nowrap; /* Prevents wrapping of menu items */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: transform 0.3s ease-in-out; /* Smooth drawer effect */
    transform: translateY(-130%); /* Start off-screen */
    /*width: 100vw; !* Full viewport width *!*/
}

.menu:hover .menu-options {
    transform: translateY(10%); /* Slide into view */
}

.menu-option {
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
    width: 100%;
}

.menu-option:hover {
    background-color: #ddd; /* Highlight on hover */
}