main {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.slider {
    width: 80%;
    max-width: 800px;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.slides {
    display: flex;
    width: 200%;
    height: auto;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    animation: slide-animation 30s infinite;
}

.slide img {
    width: 50%;
    display: block;
    border: none;
}

/* Animação automática */
@keyframes slide-animation {
    0% { transform: translateX(0%); }
    17% { transform: translateX(-100%); }
    34% { transform: translateX(-200%); }
    50% { transform: translateX(-300%); }
    67% { transform: translateX(-200%); }
    84% { transform: translateX(-100%); }
    100% { transform: translateX(-0%); }
}
